@model ProductVM
<link rel="stylesheet" href="~/css/Update.css" />
<header>
    <a href="./AdminPanel.html"><img src="./img/logo.png" alt="" height="19px" width="25px">HızlıSeç</a>

</header>

<div class="card-ekleme">
    <h3 class="title">Ürün Güncelleme Sayfası</h3>
    <form asp-action="Update" method="post">


        <label>Kategorisi :</label>
        
        <select name="CategoryId">
            @foreach (var item in (ViewBag.Categories as List< CategoryDto>) )
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br>
        <label>Ürün İsmi :</label>
        <input type="text" value="@Model.Name" name="name">
        <br>
        <label>Stok Adeti:</label>
        <input type="text" value="@Model.StockAmount" name="StockAmount"> <br>
        <label>Fiyat:</label>
        <input type="text" value="@Model.Price" name="price"><br>
        <label class="description">Açıklama:</label>
        <textarea name="description" cols="25" rows="5">@Model.Description</textarea>
        <br>
        <button>Güncelle</button>
    </form>
</div>